# Set default behavior to automatic text conversion.
* text=auto

# Force Unix LF line endings for files executed/parsed inside Linux containers
judge0.conf text eol=lf
*.sh text eol=lf
*.sql text eol=lf
Dockerfile* text eol=lf
